# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# PyInstaller
*.manifest
*.spec

# Logs
*.log

# Windows
Thumbs.db
Desktop.ini

# IDE
.idea/
.vscode/
*.swp
