# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
.eggs/

# Virtual Environment
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Windows
Thumbs.db
Desktop.ini

# PyInstaller
*.manifest
*.spec

# Logs
*.log
